.cardHighlight {
  min-height: 100%;
  background-color: lightblue !important; 
}

.aboutMe {
  background-color: lightblue !important;
}

.courseCard {
  min-height: 100%;
  background-color: lightsteelblue !important;
  width: 250px;
}